<% @version = @doc[:resources].values.first[:version] %>

<h2><%= I18n.t('api.docs.title') %> <code><%= raw @version %></code></h2>

<%= I18n.t('api.docs.switch_versions') %> <%= @versions.collect { |v| link_to v, Apipie.full_url(v+@doc[:link_extension]) }.join(' / ').html_safe %>

<p><%= I18n.t('api.docs.description') %></p>

<% @doc[:resources].sort_by(&:first).each do |key, api| %>
      <% api[:methods].each do |m| %><% if !m[:show] %><% next %><% end %>
          <div>
            <% m[:apis].each do |api| %>
                <h4>
                  <a href='#description-<%= m[:name] %>'
                     class='accordion-toggle'
                     data-toggle='collapse'
                     data-parent='#accordion'>
                    <%= api[:http_method] %> <%= api[:api_url].gsub(/:version/, @version) %>
                  </a>
                </h4>
                <% if api[:deprecated] %><code>DEPRECATED</code><% end %>
                <p><%= raw api[:short_description] %></p>
            <% end %>
          </div>
          <div id='description-<%= m[:name] %>' class='collapse accordion-body'>
            <%= render(:partial => 'method_detail', :locals => {:method => m, :h_level => 3}) %>
          </div>
      <% end %>
<% end %>
