<h2>New group</h2>

<%= form_for(:group, url: groups_url) do |f| %>
    <div class="field">
      <%= f.label :url %><br />
      <%= f.text_field :code, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title%>
    </div>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
<% end %>
