<div class="links">
  <% links.each do |link| %>
      <div class="row">
        <% if link.video.present? %>
            <div class="col-xs-3 video-container">
              <%= video_tag link.video, controls: true, autobuffer: true, autoplay: true, loop: true %>
            </div>
        <% elsif link.image.present? %>
          <div class="col-xs-3 image-container">
            <%= image_tag link.image %>
          </div>
        <% end %>
        <div class="col-xs-<%= link.image.present? ? 9 : 12 %> title-container">
          <%= link_to link.title, group_link_url(link.group.code, link.id), :target => '_blank' %>
          <% if link.description %>
              <div class="description-container">
                <%= link.description %>
              </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
