<%= form_for(:author, url: author_session_url) do |f| %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
    <%= f.submit "Log in" %>
  </div>
<% end %>
