<div class="title">
  <h1><%= (defined? title) ? title : t('page.title') %></h1>
  <%= t('page.description') %>
</div>
<div class="search">
  <%= render partial: 'shared/search' %>
</div>
<div class="login">
  <%= render partial: 'shared/login' unless current_author.present? %>
</div>
<div class="menu">
  <%= render partial: 'shared/menu', locals: { items: menu } %>
</div>
<div class="register hidden">
  <%= render partial: 'shared/register' unless current_author.present? %>
</div>
