<!DOCTYPE html>
<html>
  <head>
    <title><%= (defined? page_title) ? page_title : t('page.title') %></title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script>
      var WARNING_MUST_BE_LOGGED_IN = '<%= t('devise.failure.unauthenticated') %>';
    </script>
  </head>
  <body>
    <%= render partial: 'shared/flash_messages' %>
    <div id="main">
      <div class="sidebar">
        <%= render partial: 'shared/sidebar', locals: {
          menu: [
            {
              text: 'Dashboard',
              url: dashboard_url,
              badge: 42 # todo
            },
            {
              text: 'API Documentation',
              url: apipie_apipie_url
            },
            {
              text: 'My Profile',
              url: edit_author_registration_url,
              disabled: current_author.blank?,
              badge: 24 # todo
            },
            {
              text: 'Sign Up',
              url: '#',
              class: 'sign-up',
              disabled: current_author.present?
            },
            {
              text: 'Sign Out',
              url: destroy_author_session_url,
              method: :delete,
              disabled: current_author.blank?
            }
          ]} %>
      </div>
      <%= render partial: 'shared/sidebar_gutter' %>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
